In [1]:
#Importing the libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#importing the dataset

In [4]:
dataset = pd.read_csv('/content/drive/MyDrive/earthchem_download_95122.txt', delimiter = "\t")
dataset

      SAMPLE ID  IGSN  SOURCE  ... H2O_M.2 H2O_P.2  INDIUM.1
0      080385-4   NaN  GEOROC  ...     NaN     NaN       NaN
1      230483-3   NaN  GEOROC  ...     NaN     NaN       NaN
2      PU-02-34   NaN  GEOROC  ...     NaN     NaN       NaN
3      PU-02-25   NaN  GEOROC  ...     NaN     NaN       NaN
4      PU-02-20   NaN  GEOROC  ...     NaN     NaN       NaN
...         ...   ...     ...  ...     ...     ...       ...
3058  DBF-03-05   NaN  GEOROC  ...     NaN     NaN       NaN
3059    DBF04-6   NaN  GEOROC  ...     NaN     NaN       NaN
3060    DBF04-5   NaN  GEOROC  ...     NaN     NaN       NaN
3061    CHO 099   NaN  GEOROC  ...     NaN     0.0       NaN
3062    LAU-2/2   NaN  GEOROC  ...     NaN     NaN       NaN

[3063 rows x 151 columns]

**EXPLORATORY DATA ANALYSIS**

In [8]:
#top 5 rows

dataset.head()

  SAMPLE ID  IGSN  SOURCE  ... H2O_M.2 H2O_P.2  INDIUM.1
0  080385-4   NaN  GEOROC  ...     NaN     NaN       NaN
1  230483-3   NaN  GEOROC  ...     NaN     NaN       NaN
2  PU-02-34   NaN  GEOROC  ...     NaN     NaN       NaN
3  PU-02-25   NaN  GEOROC  ...     NaN     NaN       NaN
4  PU-02-20   NaN  GEOROC  ...     NaN     NaN       NaN

[5 rows x 151 columns]

In [9]:
#last 5 rows
dataset.tail()

      SAMPLE ID  IGSN  SOURCE  ... H2O_M.2 H2O_P.2  INDIUM.1
3058  DBF-03-05   NaN  GEOROC  ...     NaN     NaN       NaN
3059    DBF04-6   NaN  GEOROC  ...     NaN     NaN       NaN
3060    DBF04-5   NaN  GEOROC  ...     NaN     NaN       NaN
3061    CHO 099   NaN  GEOROC  ...     NaN     0.0       NaN
3062    LAU-2/2   NaN  GEOROC  ...     NaN     NaN       NaN

[5 rows x 151 columns]

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3063 entries, 0 to 3062
Columns: 151 entries, SAMPLE ID to INDIUM.1
dtypes: float64(133), object(18)
memory usage: 3.5+ MB

In [11]:
dataset.info

<bound method DataFrame.info of       SAMPLE ID  IGSN  SOURCE  ... H2O_M.2 H2O_P.2  INDIUM.1
0      080385-4   NaN  GEOROC  ...     NaN     NaN       NaN
1      230483-3   NaN  GEOROC  ...     NaN     NaN       NaN
2      PU-02-34   NaN  GEOROC  ...     NaN     NaN       NaN
3      PU-02-25   NaN  GEOROC  ...     NaN     NaN       NaN
4      PU-02-20   NaN  GEOROC  ...     NaN     NaN       NaN
...         ...   ...     ...  ...     ...     ...       ...
3058  DBF-03-05   NaN  GEOROC  ...     NaN     NaN       NaN
3059    DBF04-6   NaN  GEOROC  ...     NaN     NaN       NaN
3060    DBF04-5   NaN  GEOROC  ...     NaN     NaN       NaN
3061    CHO 099   NaN  GEOROC  ...     NaN     0.0       NaN
3062    LAU-2/2   NaN  GEOROC  ...     NaN     NaN       NaN

[3063 rows x 151 columns]>

In [12]:
dataset.keys()

Index(['SAMPLE ID', 'IGSN', 'SOURCE', 'REFERENCE', 'CRUISE ID', 'LATITUDE',
       'LONGITUDE', 'LOC PREC', 'MIN AGE', 'AGE',
       ...
       'ZR', 'TI.1', 'AS.2', 'AS.3', 'GER.1', 'H2O_M.1', 'H2O_P.1', 'H2O_M.2',
       'H2O_P.2', 'INDIUM.1'],
      dtype='object', length=151)

In [13]:
dataset.describe()

       IGSN     LATITUDE    LONGITUDE  ...    H2O_M.2     H2O_P.2  INDIUM.1
count   0.0  3063.000000  3063.000000  ...  81.000000  163.000000       3.0
mean    NaN   -29.436414   -69.961676  ...   0.562716    0.966994       0.0
std     NaN     9.817008     2.227382  ...   0.535546    0.875199       0.0
min     NaN   -54.800000   -78.518000  ...   0.000000    0.000000       0.0
25%     NaN   -38.769400   -71.699050  ...   0.200000    0.210000       0.0
50%     NaN   -26.420000   -70.250000  ...   0.330000    0.790000       0.0
75%     NaN   -21.246800   -68.000000  ...   0.750000    1.510000       0.0
max     NaN    -6.975000   -64.440000  ...   2.530000    4.860000       0.0

[8 rows x 133 columns]

In [14]:
dataset.dtypes

SAMPLE ID     object
IGSN         float64
SOURCE        object
REFERENCE     object
CRUISE ID     object
              ...
H2O_M.1      float64
H2O_P.1      float64
H2O_M.2      float64
H2O_P.2      float64
INDIUM.1     float64
Length: 151, dtype: object

**Checking the values of SIO2**

In [16]:
#To see if a sample is obsidian, we need to check their SIO2 values
dataset.iloc[:, 16:17]

        SIO2
0     69.144
1     63.541
2     70.931
3     70.047
4     69.367
...      ...
3058  64.904
3059     NaN
3060     NaN
3061  66.728
3062  75.179

[3063 rows x 1 columns]

In [19]:
#drop independent features with less then 50% values